.container
	background: #000 
	color: #fff
	display: flex
	justify-content: space-between
	align-items: center

.nav_list
	display: flex
	justify-content: space-around
	align-items: center
	gap: 40px
	